@charset "UTF-8";
.product {
  display: grid;
  grid-template-columns: 0.6fr 0.4fr;
  padding: 0 250px;
  gap: 20px;
  justify-content: space-between;
  margin-top: 50px;
  width: 100%;
  margin-bottom: 50px;
  height: 500px;
  /* Стили для слайдера */
  /* Описание товара */
}
@media (max-width: 1600px) {
  .product {
    padding: 0 100px;
  }
}
@media (max-width: 1200px) {
  .product {
    padding: 0 30px;
  }
}
@media (max-width: 820px) {
  .product {
    grid-template-columns: 1fr;
    padding: 0;
    margin-top: 20px;
    height: 100%;
  }
}
.product--slider {
  display: flex;
  width: 100%;
  position: relative;
  overflow-x: hidden;
}
.product .product__arrows--prev,
.product .product__arrows--next {
  position: absolute;
  z-index: 2;
  cursor: pointer;
  align-self: center;
}
@media (max-width: 820px) {
  .product .product__arrows--prev,
  .product .product__arrows--next {
    display: none;
  }
}
.product .product__arrows--prev:hover circle,
.product .product__arrows--next:hover circle {
  transition: 0.3s ease-in-out all;
  fill: #0032A0;
}
.product .product__arrows--prev:hover path,
.product .product__arrows--next:hover path {
  transition: 0.3s ease-in-out all;
  stroke: white;
}
.product .swiper-button-disabled {
  opacity: 0.7;
  cursor: default;
}
.product .swiper-button-disabled:hover circle {
  fill: white;
}
.product .swiper-button-disabled:hover path {
  stroke: #0032A0;
}
.product .product__arrows--prev {
  left: 20px;
}
.product .product__arrows--next {
  right: 20px;
}
.product .swiper-pagination {
  display: flex;
  gap: 5px;
  margin-bottom: 5px;
}
@media (max-width: 820px) {
  .product .swiper-pagination {
    padding: 0 10px;
  }
}
.product .swiper-pagination--item {
  width: 100%;
  background-color: #BCBCBC;
  height: 2px;
  transition: 0.2s linear ease-in;
  cursor: pointer;
}
.product .swiper-pagination--item--active {
  background-color: var(--dark-blue);
}
@media (max-width: 820px) {
  .product .swiper-wrapper {
    gap: 3px;
  }
}
.product .swiper-wrapper .product__slider--image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100% !important;
  height: 90%;
  -o-object-position: center center;
     object-position: center center;
}
@media (max-width: 820px) {
  .product .swiper-wrapper .product__slider--image {
    width: 90% !important;
  }
}
.product__info {
  display: flex;
  flex-direction: column;
}
@media (max-width: 820px) {
  .product__info {
    padding: 0 10px;
  }
}
.product__info--header {
  display: flex;
  justify-content: space-between;
}
.product__info--caption {
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  color: #000000;
}
@media (max-width: 820px) {
  .product__info--caption {
    font-size: 24px;
    line-height: 30px;
  }
}
.product__info--date {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  align-self: flex-end;
  margin-bottom: 10px;
}
@media (max-width: 820px) {
  .product__info--date {
    font-size: 16px;
    line-height: 20px;
  }
}
.product__info--id {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-align: left;
  margin-top: 30px;
}
.product__info--filters {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 25px;
}
@media (max-width: 820px) {
  .product__info--filters {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 30px;
         column-gap: 30px;
    margin-top: 15px;
  }
}
.product__info--filter {
  display: flex;
  align-items: center;
  gap: 10px;
}
.product__info--filter_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}
.product__info--price {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 25px;
}
@media (max-width: 820px) {
  .product__info--price {
    margin-top: 15px;
  }
}
.product__info--new_price {
  color: #000000;
  font-weight: 400;
  font-size: 28px;
  line-height: 35px;
}
@media (max-width: 820px) {
  .product__info--new_price {
    font-size: 24px;
    line-height: 30px;
  }
}
.product__info--old_price {
  color: var(--grey);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-decoration: line-through;
}
.product__info--footer {
  display: flex;
  flex-direction: column;
}
@media (max-width: 820px) {
  .product__info--footer {
    flex-direction: row;
    gap: 20px;
    align-items: center;
    margin-top: 15px;
  }
}
.product__info--get_offer {
  width: 40%;
  height: 38px;
  border-radius: 10px;
  background-color: #0032A0;
  padding: 8px 15px 10px 15px;
  color: var(--white);
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin-top: 25px;
  white-space: nowrap;
  text-align: center;
}
@media (max-width: 1400px) {
  .product__info--get_offer {
    width: 70%;
  }
}
@media (max-width: 820px) {
  .product__info--get_offer {
    margin-top: 0;
  }
}
.product__info--icons {
  display: flex;
  margin-top: 25px;
  gap: 20px;
}
@media (max-width: 820px) {
  .product__info--icons {
    margin-top: 0;
  }
}
.product__info--icon {
  cursor: pointer;
}/*# sourceMappingURL=product-page.css.map */